# Reverse sort by shepherd to have exclamation marks go last
yarn-error.log*
yarn-debug.log*
vite.config.ts.timestamp-*
vite.config.js.timestamp-*
tmp
test/**/*.js
test/**/*.d.ts
stats.html
site/
outputs.json
oclif.manifest.json
npm-debug.log*
node_modules/
node_modules
next-env.d.ts
error.log
dist
coverage/
codebase.txt
cdk.out
cdk.context.json
build
Thumbs.db
/out/
/node_modules
/data/
/coverage
/build
/.svelte-kit
/.pnp
/.nyc_output
/.next/
.vscode/*
.vercel
.tmp
.pnpm-debug.log*
.pnp.js
.output
.idea
.env.test.local
.env.production.local
.env.local
.env.development.local
.env.*
.env
.dccache
.cdk.staging
.DS_Store
*.tsbuildinfo
*.pem
*.local*
*-error.log
*-debug.log
**/.history
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/json-schema/shepherd.schema.json
!.vscode/json-schema/convox.schema.json
!.vscode/json-schema/
!.vscode/extensions.json
!.github/dependabot.yml
!.env.test
!.env.local.sample
!.env.example
